
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
  </head>

  <body>
    <div id='vue-app-container'>
      <app></app>
    </div>
    <%= yield %>
  </body>
</html>